@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Unbounded',
        cursive;
}

/* .nav {
    position: fixed;
} */

.about {
    /* color: #81ffab; */
}

.about:hover {
    /* color: #b895ec;
    text-shadow: 0 0 0.125em #FFF, 0 0 0.3125em #FFF, 0 0 0.3125em #FFF, 0 0 0.625em #81ffab, 0 0 1.875em #81ffab, 0 0 2.5em #81ffab, 0 0 3.4375em #81ffab, 0 0 4.6875em #81ffab, 0.125em 0.125em 0.125em rgba(129, 255, 171, 0); */
}

.projs {
    /* color: #fe8bf0; */

}

.projs:hover {
    /* color: #b895ec;
    text-shadow: 0 0 0.125em #FFF, 0 0 0.3125em #FFF, 0 0 0.3125em #FFF, 0 0 0.625em #fe8bf0, 0 0 1.875em #fe8bf0, 0 0 2.5em #fe8bf0, 0 0 3.4375em #fe8bf0, 0 0 4.6875em #fe8bf0, 0.125em 0.125em 0.125em rgba(129, 255, 171, 0); */
}

.skills {
    /* color: #b895ec; */

}

/* .about:hover,
.about span:hover {
    color: #fe8bf0;
    text-shadow: 0 0 0.125em #FFF, 0 0 0.625em #FFF, 0 0 0.625em #FFF, 0 0 0.625em #b895ec, 0 0 1.875em #b895ec, 0 0 2.5em #b895ec, 0 0 3.4375em #b895ec, 0 0 4.6875em #b895ec, 0.125em 0.125em 0.125em rgba(129, 255, 171, 0);
} */

a:hover {
    cursor: pointer;
}

.homepage {
    background-image: url('./imgs/bg-tweaks.png');
    background-size: cover;
}

.about-me {
    background: linear-gradient(135deg, rgba(238, 226, 112, 1) 0%, rgba(255, 184, 176, 1) 100%);
    height: 100vh;
}

.img-me {
    width: 18.7rem;
    height: auto;
}